{% load staticfiles %}
<style>
    .search {
        margin: 0 auto;
        padding: 10px;
        margin-left: 100px;
    }

    .search > form {
        background-color: #2aabd2;
        display: inline-block;
        margin-left: 100px;
        min-width: 400px;
        height: 40px;
        padding: 2px;
    }

    .search > form > input {
        height: 36px;
        outline: none;
        font-size: 20px;
    }

    .search > form > input[type=text] {
        width: 80%;
    }

    .search > form > input[type=submit] {
        width: 17%;
        border: none;
        background: none;
        padding: 0 4px;
        text-align: center;
    }
</style>
<div class="search">
    <img src="{% static 'img/imgs/logo.gif' %}">
    <form action="{% url 'search' %}" method="get">
        <input type="text" name="keyword">
        <input type="submit" value="搜索">
    </form>
</div>






